@media screen and (max-width:576px){
    .container{
        width: 100%;
        max-width: 540px;
        margin: 0 auto;
        padding: 0 15px;
    }
    .header{
        .hamburger{
            display: block;
        }
        .header_top{
            .header_inner{
                &__left{
                    padding: 22px 0;
                }
                &__betwen{
                    display: none;
                }
                &__right{
                    display: none;
                }
            }
        }
        .header_bottom{
            flex-direction: column;
            .phone{
                display: block;
            }
            .posi{
                display: none;
            }
            &::before{
                display: none;
            }
            .header_inner{
                text-align: center;
                padding: 0;
                .left{
                    h1{
                        font-size: 40px;
                        line-height: 47px;
                        text-align: center;
                    }
                    p{
                        font-size: 15px;
                        line-height: 25px;
                        text-align: center;
                    }
                    
                }
            }
        }
    }
    .main{
        .main_inner{
            &__bottom{
                h2{
                    text-align: center;
                    font-size: 32px;
                    line-height: 38px;
                }
                p{
                    text-align: center;
                    font-size: 15px;
                    line-height: 25px;
                }
            }
            &__top{
                text-align: center;
                flex-direction: column;
                .item{
                    margin-bottom: 20px;
                }
            }
        }
        .main_back{
            padding: 0;
        }
        .main_setcion{
            &__main{
                flex-direction: column;
                align-items: center;
                .item{
                    margin-right: 0;
                    margin-bottom: 24px;
                    text-align: center;
                }
            }
        }
    }
    .footer{
        .footer_inner{
            flex-direction: column;
            text-align: center;
        }
    }
}