* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.PrimaryBtn {
  padding: 8px 33px;
  background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  border-radius: 22px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  text-decoration: none;
  color: #FFFFFF;
}

ul li {
  list-style: none;
}

ul a {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
}

.header .hamburger {
  position: relative;
  display: none;
}

.header .hamburger .navbar {
  z-index: 4;
  width: 100%;
  height: 400px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  right: -100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .5s;
  transition: .5s;
}

.header .hamburger .navbar.change {
  right: 0;
}

.header .hamburger .navbar .nav_list {
  text-align: center;
}

.header .hamburger .navbar .nav_list li {
  list-style-type: none;
  margin: 25px;
}

.header .hamburger .navbar .nav_list .navlist {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-weight: 100;
  letter-spacing: 1px;
  position: relative;
  padding: 3px;
}

.header .hamburger .hamburger_menu {
  width: 35px;
  height: 36px;
  position: fixed;
  top: 15px;
  right: 30px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .hamburger .hamburger_menu .line {
  -webkit-transition: all .8s;
  transition: all .8s;
  width: 100%;
  height: 3px;
  background-color: #000;
}

.header .header_top {
  position: relative;
  z-index: 2;
  background: #FFFFFF;
}

.header .header_top .header_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header_top .header_inner__betwen ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header_top .header_inner__betwen ul li {
  padding: 32px 15px;
}

.header .header_top .header_inner__betwen ul li a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.107692px;
  color: #9597A5;
  font-family: san-serify;
}

.header .header_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: #f2f2f2;
}

.header .header_bottom .phone {
  display: none;
}

.header .header_bottom .posi {
  position: absolute;
  right: 0;
  top: -70px;
}

.header .header_bottom::before {
  content: '';
  position: absolute;
  background-image: url("../images/before1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position: right;
}

.header .header_bottom .header_inner {
  padding: 170px 0;
}

.header .header_bottom .header_inner .left h1 {
  padding-bottom: 24px;
  font-style: normal;
  font-weight: 100;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #2D314D;
}

.header .header_bottom .header_inner .left p {
  padding-bottom: 36px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28125px;
  color: #9597A5;
}

.main {
  background: #F4F5F7;
}

.main .main_inner {
  padding: 96px 0;
}

.main .main_inner__bottom h2 {
  padding-bottom: 16px;
  font-style: normal;
  font-weight: 100;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.714286px;
  color: #2D314D;
}

.main .main_inner__bottom p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28125px;
  color: #9597A5;
  padding-bottom: 72px;
}

.main .main_inner__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .main_inner__top .item a {
  text-decoration: none;
}

.main .main_inner__top .item a h3 {
  font-style: normal;
  font-weight: 100;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.428571px;
  color: #2D314D;
  padding: 40px 0 26px 0;
}

.main .main_inner__top .item a p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.25px;
  color: #9597A5;
}

.main .main_back {
  padding: 80px 0;
  background-color: #f2f2f2;
}

.main .main_setcion__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .main_setcion__main .item {
  margin-right: 30px;
  background-color: #fff;
  border-radius: 5px;
}

.main .main_setcion__main .item a {
  text-decoration: none;
}

.main .main_setcion__main .item span {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: -0.15625px;
  color: #9597A5;
  padding: 25px 0 8px 24px;
}

.main .main_setcion__main .item h4 {
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.285714px;
  color: #2D314D;
  padding: 0 24px 8px 24px;
}

.main .main_setcion__main .item p {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.203125px;
  color: #9597A5;
  padding: 0 24px 24px 24px;
}

.footer {
  padding: 48px 0;
  background: #2D314D;
}

.footer .footer_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer_inner .article1 .iccc {
  display: block;
  padding-bottom: 55px;
}

.footer .footer_inner .article1 .icons a {
  padding-right: 13px;
  display: inline-block;
}

.footer .footer_inner .article2 ul li a {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.234375px;
  color: #FFFFFF;
  display: inline-block;
  padding-bottom: 8px;
}

.footer .footer_inner .article3 ul li a {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.234375px;
  color: #FFFFFF;
  display: inline-block;
  padding-bottom: 8px;
}

.footer .footer_inner .article4 a {
  display: inline-block;
  margin-bottom: 24px;
}

.footer .footer_inner .article4 h6 {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.234375px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}

@media screen and (max-width: 576px) {
  .container {
    width: 100%;
    max-width: 540px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .header .hamburger {
    display: block;
  }
  .header .header_top .header_inner__left {
    padding: 22px 0;
  }
  .header .header_top .header_inner__betwen {
    display: none;
  }
  .header .header_top .header_inner__right {
    display: none;
  }
  .header .header_bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .header_bottom .phone {
    display: block;
  }
  .header .header_bottom .posi {
    display: none;
  }
  .header .header_bottom::before {
    display: none;
  }
  .header .header_bottom .header_inner {
    text-align: center;
    padding: 0;
  }
  .header .header_bottom .header_inner .left h1 {
    font-size: 40px;
    line-height: 47px;
    text-align: center;
  }
  .header .header_bottom .header_inner .left p {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
  }
  .main .main_inner__bottom h2 {
    text-align: center;
    font-size: 32px;
    line-height: 38px;
  }
  .main .main_inner__bottom p {
    text-align: center;
    font-size: 15px;
    line-height: 25px;
  }
  .main .main_inner__top {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .main_inner__top .item {
    margin-bottom: 20px;
  }
  .main .main_back {
    padding: 0;
  }
  .main .main_setcion__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .main_setcion__main .item {
    margin-right: 0;
    margin-bottom: 24px;
    text-align: center;
  }
  .footer .footer_inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */